
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  background-color: #B0E0E6;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}
/* Style the footer */
.footer {
  background-color: #B0E0E6;
  padding: 10px;
  text-align: center;
  
}
.header-content {
  text-align: center;
  display: inline-block;
  background-color: blue;
}

.headerContainer {
 
  background-color: blue;
}

.heroimg {
 
  height: 100%;
  text-align: center;
  border-bottom: 2rem;
  width: 100%;
  position: relative;
  background-color: hero-bg;
  background-size: cover;
  background-repeat: no-repeat;

   /* The image used */
   background-image: linear-gradient(rgba(0.4, 0.4, 0, 0.5), rgba(0.4, 0.4, 0, 0.5)), url("../Assets/Wallpaper.png");
  
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  
}